@model BlogSinhVien.Models.Entities.Roles

@{
    ViewData["Title"] = "Details";
    string getImage(byte[] image)
    {
        if (image == null) return "";
        string imageBase64Data = Convert.ToBase64String(image);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    Layout = null;
}

<h1>Details</h1>

<div>
    <h4>Roles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Role
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenRole)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            <img id="image" width="120px" height="120px" src="@getImage(Model.HinhAnh)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaRole">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
