<div class="gap2 gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-2">
							
							</div><!-- sidebar -->
							<div class="col-lg-8">
								<div class="topbar stick" style="height:auto;background:#fdfdfd;margin-bottom:20px;padding:0">
										<div class="top-area" style="width:auto;">
											<ul class="setting-area">
												<li class="menu-manager activel" title="Trang chủ" style="cursor:pointer;margin-right:0;" onclick="location.href='/';">Quản lý bài viết</li>
												
												<li class="menu-manager" title="Nhắn tin" style="cursor:pointer;margin-right:0;" onclick="location.href='/messages';">Quản lý sinh viên</li>
												
												<li class="menu-manager" title="Bài viết cá nhân" style="cursor:pointer;margin-right:0;" onclick="location.href='/BDCaNhan';">Quản lý bình luận
												</li>

												<li class="menu-manager" title="Quản lý" style="cursor:pointer;margin-right:0;" onclick="location.href='/managerment';">Thống kê hoạt động</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-2">

							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
</div>