@model BlogSinhVien.Models.EntitiesNew.Users
@{
	BlogSinhVienNewContext context = new BlogSinhVienNewContext();
	Accounts ac = context.Accounts.Find(Model.Idtk);
}
<div class="gap2 gray-bg" style="margin-top:50px">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-2">

							</div><!-- sidebar -->
							<div class="col-lg-8">
									<div class="central-meta">
									<div class="editing-info">
										<style>
											.editing-info label{
												color: #8be594;
											}
											.editing-info input{
												border: none;
												border-bottom: 2px solid #8be594;
												padding: 1%;

											}
										</style>
										<h5 class="f-title"><i class="ti-info-alt"></i>Nhập thông tin sinh viên</h5>

										<form method="post" action="/managerment/edit-sv">
											<div class="form-group mb-5">
												<input  asp-for="Id" type="hidden"/>
												<input onblur="checkMSSV()" id="MSSV" asp-for="MaSv" type="text" required style="border-bottom:none;"/>
												<label class="control-label">Mã số sinh viên</label><i
													class="mtrl-select"></i>
												<span asp-validation-for="MaSv" class="text-danger"></span>
												<span id="validation-mssv" class="text-danger" style="display:none">Mã số sinh viên đã tồn tại</span>
											</div>
											<div class="form-group half mb-5">
												<input asp-for="Ho" type="text" required style="border-bottom:none;"/>
												<label class="control-label">Họ</label><i
													class="mtrl-select"></i>
												<span asp-validation-for="Ho" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input asp-for="Ten" type="text" required style="border-bottom:none;"/>
												<label class="control-label">Tên</label><i
													class="mtrl-select"></i>
												<span asp-validation-for="Ten" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input asp-for="EmailPrivate" type="email" required style="border-bottom:none;"/>
												<label class="control-label">Email cá nhân<a
														href="https://wpkixx.com/cdn-cgi/l/email-protection"
														class="__cf_email__" data-cfemail="4b0e262a22270b">
														</a></label><i class="mtrl-select"></i>
												<span asp-validation-for="EmailPrivate" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input style="border-bottom:none;" asp-for="Phone" minlength="10" maxlength="10" type="text"
													required />
												<label class="control-label">Điện thoại</label><i
													class="mtrl-select"></i>
												<span asp-validation-for="Phone" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input style="border-bottom:none;" asp-for="Cccd" minlength="12" maxlength="12" type="text"
													required />
												<label class="control-label">CCCD/CMND
													</label><i class="mtrl-select"></i>
												<span asp-validation-for="Cccd" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input id="EmailEdu" style="border-bottom:none;" onblur="randomAccount()" asp-for="EmailEdu" type="email" required />
												<label class="control-label">Email sinh viên</label><i
													class="mtrl-select"></i>
												<span asp-validation-for="EmailEdu" class="text-danger"></span>
												<span id="validation-emailEdu" class="text-danger" style="display:none">Email sinh viên đã tồn tại</span>
											</div>
											<div class="form-group half mb-5">
													<select class="custom-select" asp-for="GioiTinh">
															<option disabled selected>Giới tính</option>
															<option value="true" style="color:#8be594; font-weight:600">Nam
															</option>
															<option value="false" style="color:#8be594; font-weight:600">Nữ</option>
													</select>

													<span asp-validation-for="GioiTinh" class="text-danger"></span>
											</div>
											<div class="form-group half mb-5">
												<input asp-for="DiaChi" style="border-bottom:none;" type="text" required />
												<label class="control-label">Địa chỉ</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group mb-5">
												<input id="taiKhoan" value="@ac.TaiKhoan" name="TaiKhoan" style="border-bottom:none;" type="text"
													required />
												<label class="control-label" >Tài khoản
													</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group mb-5">
												<input id="MatKhau" value="@ac.MatKhau" name="MatKhau" style="border-bottom:none;" type="text"
													required />
												<label class="control-label">Mật khẩu
													</label><i class="mtrl-select"></i>
											</div>
											<div class="submit-btns">
												<a href="/managerment" class="mtr-btn"><span>Hủy</span></a>
												<button id="btn-add" onsubmit="changInfor()" type="submit" class="mtr-btn"><span>Lưu</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div>
							<div class="col-lg-2">

							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
</div>
<script src="~/js/QuanLy.js"></script>