@{
	string getImage(string MaSV)
	{
		BlogSinhVienContext context = new BlogSinhVienContext();
		SinhVien sv = context.SinhVien.Find(MaSV);

		if (sv.HinhAnh == null) return "";
		string imageBase64Data = Convert.ToBase64String(sv.HinhAnh);
		string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
		return imageDataURL;
	}
}
<ul id="messagesList" class="chatting-area">

	@foreach (Message m in ViewBag.messages)
		{
			@if (User.FindFirst("MaSV").Value == m.MaSinhVienSend)
			{
				<li class="me">
					<figure></figure>
					<p >@m.Content</p>
				</li>
			}
			else
			{
				<li class="you">
					<figure><img src="@getImage(m.MaSinhVienSend)" alt=""></figure>
							<p>@m.Content</p>
					</li>
			}
		}
<script>
var objDiv = document.getElementById("messagesList");
	objDiv.scrollTop = objDiv.scrollHeight;
</script>
</ul>